* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  padding: 5px 50px;
  margin: 0 auto;
}

/* MuhammadSodiq page start */

/* MuhammadSodiq page end */

/* Rahmatullo page start */

/* Rahmatullo page end */

/* Akbarshox page start */

/* Akbarshox page end */

/* Abdulaziz page start */

/* Abdulaziz page end */

/* Ibrohim page start */

/* Ibrohim page end */

/* Valixon page start */

/* Valixon page end */

/* Maftuna page start */

/* Maftuna page end */

/* Ayubxon page start */

/* Ayubxon page end */

/* Rasuljon page start */

/* Rasuljon page end */

/* Abdulbosit page start */

/* Abdulbosit page end */
